.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: rgb(255, 250, 243);
}

/* Estilos para a lista de itens */
.item-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.171);
    background-color: #f9f9f9;
    width: 300px;
    overflow-y: auto;
    height: 25em;
}

.item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.item:last-child {
    border-bottom: none;
}

.item:hover {
    background-color: #e0e0e0;
}

a{
    text-decoration: none;
    color: black;
    text-align: center;
}